@inherits LayoutComponentBase
@using System.Reflection

<div class="page">
    <div class="sidebar">
        <CascadingValue Value="this">
            <NavMenu />
        </CascadingValue>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.chesapeakewoodturners.com/About" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <br />
        <br />
        <br />
        <div style="text-align:center">
            <img src="./icon-180.png" alt="Chesapeake Woodturners" />
        </div>
        <br />
        <hr />
        <div class="info-panel" style="text-align:center">@BuildInfo</div>
        <br />

    </main>
</div>

@code {
    string BuildInfo;

  protected override void OnInitialized()
  {
    Assembly curAssembly = typeof(Program).Assembly;
    BuildInfo = $"{curAssembly.GetCustomAttributes(false).OfType<AssemblyTitleAttribute>().FirstOrDefault().Title}";
    }

}