@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <CascadingValue Value="this">
            <NavMenu />
        </CascadingValue>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.chesapeakewoodturners.com/About" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
